In [1]:
import math

In [7]:
#dir(math)

In [5]:
math.pow(2,3)

8.0

In [ ]:
math.ceil(3.2)

In [ ]:
math.floor(3.8)

In [ ]:
math.trunc(4.7676)

In [8]:
round(4.2)

4

In [11]:
round(4.6)

5

In [12]:
# log - base 2
math.log(3,2)

1.5849625007211563

In [13]:
# natural log - base e
math.log(3)

1.0986122886681098

In [15]:
math.sqrt(9)

3.0

In [16]:
math.pi

3.141592653589793

In [17]:
math.cos(0)

1.0

In [18]:
math.cos(90)

-0.4480736161291701

# Calendar

In [19]:
import calendar

In [ ]:
#dir(calendar)

In [25]:
print ("The calendar of year 2023 is : ")
print(calendar.calendar(2023,2,1,10))

The calendar of year 2023 is :
                                      2023

      January                       February                       March
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
                   1                 1  2  3  4  5                 1  2  3  4  5
 2  3  4  5  6  7  8           6  7  8  9 10 11 12           6  7  8  9 10 11 12
 9 10 11 12 13 14 15          13 14 15 16 17 18 19          13 14 15 16 17 18 19
16 17 18 19 20 21 22          20 21 22 23 24 25 26          20 21 22 23 24 25 26
23 24 25 26 27 28 29          27 28                         27 28 29 30 31
30 31

       April                          May                           June
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
                1  2           1  2  3  4  5  6  7                    1  2  3  4
 3  4  5  6  7  8  9           8  9 10 11 12 13 14           5  6  7  8  9 10 11
10 11 12 13 14 15 16          15 16 17 18 19 20 21          12 13 14 15 16 17 18
17 18 19 20 21 22 23          22 23 24 25 26 27 28          19 20 21 22 23 24 25
24 25 26 27 28 29 30          29 30 31                      26 27 28 29 30

        July                         August                      September
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
                1  2              1  2  3  4  5  6                       1  2  3
 3  4  5  6  7  8  9           7  8  9 10 11 12 13           4  5  6  7  8  9 10
10 11 12 13 14 15 16          14 15 16 17 18 19 20          11 12 13 14 15 16 17
17 18 19 20 21 22 23          21 22 23 24 25 26 27          18 19 20 21 22 23 24
24 25 26 27 28 29 30          28 29 30 31                   25 26 27 28 29 30
31

      October                       November                      December
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
                   1                 1  2  3  4  5                       1  2  3
 2  3  4  5  6  7  8           6  7  8  9 10 11 12           4  5  6  7  8  9 10
 9 10 11 12 13 14 15          13 14 15 16 17 18 19          11 12 13 14 15 16 17
16 17 18 19 20 21 22          20 21 22 23 24 25 26          18 19 20 21 22 23 24
23 24 25 26 27 28 29          27 28 29 30                   25 26 27 28 29 30 31
30 31

In [ ]:
for elem in calendar.month_name:
    print(elem)

In [26]:
print ("The Dec month of 2022 is :")
print (calendar.month(2022,12,2,1))

The Dec month of 2022 is :
   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [28]:
calendar.monthcalendar(2023,1)

[[0, 0, 0, 0, 0, 0, 1],
 [2, 3, 4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22],
 [23, 24, 25, 26, 27, 28, 29],
 [30, 31, 0, 0, 0, 0, 0]]

In [30]:
calendar.isleap(2022)

False

# datetime

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('date_format.csv')
df

,Directive,Description,Example
0,%a,"Weekday, short version",Wed
1,%A,"Weekday, full version",Wednesday
2,%w,"Weekday as a number 0-6, 0 is Sunday",3
3,%d,Day of month 01-31,31
4,%b,"Month name, short version",Dec
5,%B,"Month name, full version",December
6,%m,Month as a number 01-12,12
7,%y,"Year, short version, without century",18
8,%Y,"Year, full version",2018
9,%H,Hour 00-23,17
10,%I,Hour 00-12,5
11,%p,AM/PM,PM
12,%M,Minute 00-59,41
13,%S,Second 00-59,8
14,%f,Microsecond 000000-999999,548513
15,%z,UTC offset,100
16,%Z,Timezone,CST
17,%j,Day number of year 001-366,365
18,%U,"Week number of year, Sunday as the first day o...",52
19,%W,"Week number of year, Monday as the first day o...",52
20,%c,Local version of date and time,Mon Dec 31 17:41:00 2018
21,%C,Century,20
22,%x,Local version of date,12/31/18
23,%X,Local version of time,17:41:00
24,%%,A % character,%
25,%G,ISO 8601 year,2018
26,%u,ISO 8601 weekday (1-7),1
27,%V,ISO 8601 weeknumber (01-53),1

In [33]:
import datetime

In [34]:
x = datetime.datetime.now()
type(x)

datetime.datetime

In [35]:
print(x)

2022-12-22 08:05:55.990924

In [36]:
print(x.year)

2022

In [37]:
print(x.month)

12

In [39]:
print(x.strftime("%b"))

Dec

In [41]:
print(x.strftime("%d-%b-%Y %H:%M %p"))

22-Dec-2022 08:05 AM

In [42]:
print(x.strftime("%dnd %B %Y %H:%M %p"))

22nd December 2022 08:05 AM

In [43]:
print(x.strftime("%d-%m-%y"))

22-12-22

#### Create your own datetime object

In [44]:
x_datetime=datetime.datetime(2021,1,20,20,25,0,0)
print(x_datetime)

2021-01-20 20:25:00

In [46]:
print(x_datetime.strftime('%a %dth %b %H:%M %p'))

Wed 20th Jan 20:25 PM

#### Create a date object

In [47]:
d = datetime.date(2022,12,6)
print(d)

2022-12-06

#### Create a time object

In [48]:
t = datetime.time(18,50,12)
print(t)

18:50:12

In [49]:
print(t.strftime("%H:%M:%S"))

18:50:12

### Date

In [3]:
from datetime import date

In [4]:
print("today's date: ", date.today())

today's date:  2023-05-11

In [5]:
date1 = date(2018, 12, 13)
date2 = date(2019, 2, 25)

In [6]:
type(date1)

datetime.date

In [7]:
diff = date2 - date1

In [61]:
type(diff)

datetime.timedelta

In [62]:
diff

datetime.timedelta(days=74)

In [56]:
diff.days

74

In [57]:
x = 10 - 5

In [58]:
type(x)

int