# Sets

#### Similar to keys in a dictionary

#### Properties of a set
<li><b>Unordered</b></li>
<li><b>Distinct Elements</b></li>
<li><b>Hashable Elements</b></li>
<li><b>Mutable</b></li>
<li><b>Iterable</b></li>
<li><b>Heterogeneous</b></li>

In [1]:
s1 = { 9,16,3,2 }
s1

{2, 3, 9, 16}

In [2]:
## No positional ordering
s1[2]

TypeError: 'set' object is not subscriptable

In [3]:
## Distinct elements - duplicates not allowed
s2 = {1,1,2,3}
s2

{1, 2, 3}

In [4]:
## Iterable
for x in s1:
    print(x)

16
9
2
3

In [7]:
myset = {1, 2.35,'Apple',(11,66,44)}
myset

{(11, 66, 44), 1, 2.35, 'Apple'}

### Creating Sets

In [ ]:
## Creating an empty set

In [8]:
s  = {}
type(s)

dict

In [9]:
## Use the set() function
s = set()
type(s)

set

##### a. Using literals

In [10]:
## Elements must be immutable
s = {'a', 100, (1,2)}
s

{(1, 2), 100, 'a'}

In [11]:
type(s)

set

In [12]:
s = {'a', 100, [1,2]}
s

TypeError: unhashable type: 'list'

#### b. Using set() function
Pass any iterable

In [17]:
lst = [77,22,33]
s2 = set(lst)
s2

{22, 33, 77}

In [14]:
s4 = set((1,2,3))
s4

{1, 2, 3}

In [15]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [18]:
s3 = set('baabaa')
s3

{'a', 'b'}

##### Adding Elements

In [ ]:
s = {89,45,23,78}
s

In [ ]:
s.add('abc')
s

In [ ]:
## If you add an existing element again, python quietly ignores it
s.add('abc')
s

#### Removing Elements

In [ ]:
s.remove(45)
s

In [ ]:
## This throws an error
#s.remove(100)

In [ ]:
## Remove without errors
s.discard(100)

In [ ]:
s.discard(23)
s

In [ ]:
## Using pop() - does not take an argument
## As there is no ordering, it will remove an arbitrary element
s.pop()
s

In [ ]:
## remove all elements
s = {89,45,23,78}
s.clear()
s

## Common Operations

##### a. len()

In [ ]:
s = {1,2,3,4}
len(s)

##### b. Membership test

In [ ]:
s5 = set([50,23,45,66])
s5

In [ ]:
23 in s5 , 40 in s5

In [ ]:
23 not in s5, 40 not in s5

### Set Operations

##### a. Intersection

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [ ]:
s1.intersection(s2)

In [ ]:
s1 & s2

In [ ]:
## Intersection of more than 2 sets
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

In [ ]:
s1.intersection(s2, s3)

In [ ]:
s1 & s2 & s3

##### b. Union

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [ ]:
s1.union(s2)

In [ ]:
s1 | s2

In [ ]:
### We can compute the union of more than two sets:
s3 = {5, 6, 7}

In [ ]:
s1.union(s2, s3)

In [ ]:
s1 | s2 | s3

##### c. Disjointedness

Two sets are disjoint if their intersection is empty:

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {30, 40, 50}

In [ ]:
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s3))

In [ ]:
### Another way to test disjointedness
### Check the cardinality of the intersection
len(s1 & s2) , len(s2&s3)

##### d. Differences

Note that the difference operator is not commutative, i.e. 

s1 - s2 = s2 - s1

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}

In [ ]:
s1 - s2

In [ ]:
s2 - s1

In [ ]:
s2 = {4,5,6}

In [ ]:
s2 - s1

In [ ]:
s1.difference(s2)

##### f. Subsets and Supersets

In [ ]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
s3 = {1, 2, 3, 4}
s4 = {10, 20, 30}

In [ ]:
s1.issubset(s2)

In [ ]:
## Proper subset
s1 < s2

In [ ]:
## s1 is a proper subset of s3
s1 < s3

In [ ]:
### Similar tests for superset
s2.issuperset(s1)

In [ ]:
s2 > s1